


.container{
    max-width: 100%;
    height: 100%;
    margin-top: 120px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

.fs-7{
    font-size: 10px;
}

.bg-banco{
    background-image: url(./img/city-7094641_1280.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-violet{
    background-color: blueviolet!important;
    border-color: blueviolet!important;
    color: white!important;
}

.rounded-start-lg {
    border-bottom-left-radius: 1.375rem !important;
    border-top-left-radius: 1.375rem !important;
}
.rounded-end-lg {
    border-bottom-right-radius: 1.375rem !important;
    border-top-right-radius: 1.375rem !important;
}

footer{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}
